<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
<h1 style="text-align: center;">Welcome To Add Event</h1>
<form method="post" action="/club/addevent">
Title<input type="text" name="title" required=""><br>
Category<input type="text" name="category" required=""><br>
eventtype<input type="text" name="eventtype" required=""><br>
CoordinatorName<input type="text" name="coordinatorName" required="" multiple><br>
CoordinatorPhone<input type="text" name="coordinatorPhone" required="" multiple><br>
Prize1<input type="text" name="prize1" required=""><br>
Prize2<input type="text" name="prize2" required=""><br>
Prize3<input type="text" name="prize3" required=""><br>
Description<input type="text" name="description" required=""><br>
rule<input type="text" name="rule" required=""><br>
Team Size<input type="number" name="teamsize" required=""><br>
Photo Link<input type="text" name="photolink" required=""><br>
Venue<input type="text" name="venue" required=""><br>
Fee<input type="Number" name="fee" required=""><br>
Tags<input type="text" name="tags" required=""><br>
Date<input type="date" name="date" required=""><br>
Start Time<input type="time" name="starttime" required=""><br>
End Time<input type="time" name="endtime" required=""><br>
Submit<input type="submit" name="submit">
</body>
</html>