<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
<h1 style="text-align: center;">Welcome To Add Sponsor</h1>
<form method="post" action="/club/addsponsor">
Name<input type="text" name="name" required=""><br>
Title<input type="text" name="title" required=""><br>
Rank<input type="text" name="rank" required=""><br>
Website<input type="text" name="website" required=""><br>
Logo<input type="text" name="logo" required=""><br>
Submit<input type="submit" name="submit">
</body>
</html>