<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
<h1 style="text-align: center;">Welcome To Add Sponsor</h1>
<form method="post" action="/clubevent">
Club<input type="text" name="club" required=""><br>
Submit<input type="submit" name="submit">
</body>
</html>