<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
<form method="post" action="/mytickets">
<input type="text" name="phone">
Submit<input type="submit" name="submit">
</body>
</html>