<!DOCTYPE html>
<html>
<head>
	<title>Register Page</title>
</head>
<body>
<h1 style="text-align: center;">Registration Page</h1>
<form method="post" action="/register">
Name<input type="text" name="name" ><br>
Phone<input type="text" name="phone" ><br>
Email<input type="email" name="email" ><br>
College<input type="text" name="college" ><br>
Event-Id<input type="text" name="eventid" ><br>
EventName<input type="text" name="eventname" ><br>
Timestamp<input type="Date" name="timestamp" ><br>
Submit<input type="submit" name="submit">
</body>
</html>