<!DOCTYPE html>
<html>
<head>
	<title>Update Payment</title>
</head>
<body>
<form method="post" action="/updatepayment">
QRCode<input type="text" name="qrcode" required=""><br>
Submit<input type="submit" name="submit">	
</form>
</body>
</html>